In [1]:
#dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
import time
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, cast, Date

In [2]:
#set path of sqlite file
db_path = 'data/hawaii.sqlite'
#create connection engine variable 
engine = create_engine(f'sqlite:///{db_path}')

In [3]:
#get the ability to pull the schema from sqlite file
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)
session = Session(engine) #connect to sqlite db
conn = engine.connect

In [4]:
#pull list of tables
Base.classes.keys()

['measurement', 'station']

In [5]:
Station = Base.classes.station
Measurement = Base.classes.measurement

In [6]:
measurement_columns = inspector.get_columns('measurement')
for x in measurement_columns:
    print (x['name'], x['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [7]:
station_columns = inspector.get_columns('station')
for x in station_columns:
    print(x['name'], x['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

In [8]:
date_range = session.query(*[func.max(Measurement.date)]).all() #query to find latest date in dataset
df_date_range = pd.DataFrame(date_range, columns=['date']) #put result into a df
df_date_range

         date
0  2017-08-23

In [9]:
max_date = df_date_range.max()['date']
dt_max_date = dt.datetime.strptime(max_date, '%Y-%m-%d') #get latest date in dataset into datetime object
dt_year_before = dt_max_date + dt.timedelta(days=-365)
dt_year_before

datetime.datetime(2016, 8, 23, 0, 0)

In [10]:
#get one year prior to the latest date in dataset in yyyy-mm-dd format
year_before = dt.date.strftime(dt_year_before, '%Y-%m-%d') 
year_before

'2016-08-23'

In [11]:
precipitation_sel = [Measurement.prcp, Measurement.date] #select amount of precipitation and date from database
#query date and precipitation for the last year of our dataset
precipitation = session.query(*precipitation_sel).filter(func.strftime('%Y-%m-%d', Measurement.date) >= year_before).\
    order_by(Measurement.date).all()
df_prec = pd.DataFrame(precipitation, columns=['Precipitation', 'date']) #put results of query into a df
df_prec = df_prec.set_index('date') #set date column as the index
df_prec.head()

            Precipitation
date
2016-08-23           0.00
2016-08-23           0.15
2016-08-23           0.05
2016-08-23            NaN
2016-08-23           0.02

In [12]:
# Use Pandas Plotting with Matplotlib to plot the data